.patient-record {
  &__header {
    padding: 1rem 0;
    font-size: 1.5rem;
  }

  &__details {
    padding-block: 1rem;
    font-size: 1.333rem;
    display: flex;
  }

  &__detail-entry {
    flex: 1;
  }

  &__label {
    color: #777;
    display: block;
    margin-block-end: 0.5rem;
    font-size: 0.8rem;
    text-transform: uppercase;
  }

  &__conditions {
    padding-block: 1.5rem;
  }
}
