@import "styles";

.button {
  background-color: transparent;
  color: $blue-600;

  border: 1px solid transparent;
  border-radius: 4px;

  padding: 0.33rem 0.75rem;

  transition: all 0.3s ease;

  &:hover {
    cursor: pointer;
    background: $blue-600;
    color: white;
  }
}
